---
import Hyperlink from "../components/Hyperlink.astro";
import Image from "../components/Image.astro";
import Root from "../layouts/Root.astro";
import links from "../misc/links";

const { websites, pubBylines, socials } = links;
---

<Root title="Adebiyi Adedotun">
  <div data-grid="main" data-page="home">
    <article data-prose>
      <header>
        <h2 class="name">Adebiyi Adedotun</h2>
        <strong><span data-comment>//</span> Design & Frontend Engineer.</strong
        >
      </header>
      <section data-grid class="intro">
        <p>
          Passionate about building <em>simple</em> and <em>functional</em>
           web interfaces and experiences.
        </p>
        <p>
          In the past, I've worked at
          <Hyperlink href={websites.hatchPath}>HatchPath</Hyperlink>,
          <Hyperlink href={websites.ceviant}>Ceviant</Hyperlink>, and
          <Hyperlink href={websites.edgio}>Edgio</Hyperlink>. And I'm published
          on blogs like
          <Hyperlink href={pubBylines["css-tricks"]}>CSS-Tricks</Hyperlink>,
          <Hyperlink href={pubBylines.smashingmag}>
            Smashing Magazine
          </Hyperlink>, and
          <Hyperlink href={pubBylines.logrocket}>LogRocket</Hyperlink>.
        </p>
        <p>
          Reach me at <Hyperlink href={socials.twitter}>@adebiyial</Hyperlink>
           or <Hyperlink href={socials.mail}>
            adebiyiadedotun9@gmail.com
          </Hyperlink>
        </p>
      </section>

      <section data-grid class="misc">
        <h3>Preoccupations</h3>
        <ul>
          <li>
            <Image
              classname="banner"
              src="https://avatar.vercel.sh/Literature?size=40"
              alt="Literature"
            />
            <h4>Literature</h4>
            <p data-subtitle>
              Experiencing the power of narrative storytelling through reading
              and writing.
            </p>
          </li>
          <li>
            <Image
              classname="banner"
              src="https://avatar.vercel.sh/Illustration?size=40"
              alt="Illustration"
            />
            <h4>Illustration</h4>
            <p data-subtitle>
              In a world that is what it is, I find Illustration a sweet release
              that makes failure desirable.
            </p>
          </li>
          <li>
            <Image
              classname="banner"
              src="https://avatar.vercel.sh/Data-Visualization?size=40"
              alt="Data Visualization"
            />
            <h4>Data Visualization</h4>
            <p data-subtitle>
              Undeniably daunting, there's an inexplicable beauty in giving life
              to data.
            </p>
          </li>
        </ul>
      </section>
    </article>
  </div>
</Root>

<style>
  [data-page="home"] {
    max-width: var(--page-width);
    margin: 0 auto;
    padding-block: var(--page-top);
  }

  [data-grid="main"] {
    grid-template-columns: 12rem var(--content-width) 12rem;

    > * {
      grid-column: 2;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-block-end: var(--gap-3x);
    }

    section {
      margin-block-end: var(--gap-6x);

      ul {
        list-style: none;
        padding: 0;
        margin-block-start: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: var(--gap-2x);
        row-gap: var(--gap-3);
      }

      li {
        gap: 8px;
        display: grid;
        align-content: start;
      }

      .banner {
        height: 30px;
      }
    }
  }
</style>
