---
import Hyperlink from "../components/Hyperlink.astro";
import SectionGrid from "../components/SectionGrid.astro";
import Root from "../layouts/Root.astro";
import { preoccupations, writing, projects, playground } from "../misc/data";
import links from "../misc/links";

const { websites, pubBylines, socials } = links;
---

<Root title="Adebiyi Adedotun">
  <div data-grid="main" data-page="home">
    <article data-prose>
      <header>
        <h2 class="name">Adebiyi Adedotun</h2>
        <strong><span data-comment>//</span> Design & Frontend Engineer.</strong
        >
      </header>
      <section data-grid class="intro">
        <p>
          Passionate about building <em>simple</em> and <em>functional</em>
           web interfaces and experiences.
        </p>
        <p>
          In the past, I've worked at
          <Hyperlink href={websites.hatchPath}>HatchPath</Hyperlink>,
          <Hyperlink href={websites.ceviant}>Ceviant</Hyperlink>, and
          <Hyperlink href={websites.edgio}>Edgio</Hyperlink>. And I'm published
          on blogs like
          <Hyperlink href={pubBylines.smashingmag}>
            Smashing Magazine
          </Hyperlink>,
          <Hyperlink href={pubBylines["css-tricks"]}>CSS-Tricks</Hyperlink>, and


          <Hyperlink href={pubBylines.logrocket}>LogRocket</Hyperlink>.
        </p>
      </section>

      <SectionGrid heading="Projects" gridItems={projects} />
      <SectionGrid heading="Writing" gridItems={writing} />
      <SectionGrid
        heading="Playground"
        subheading="Where I fail repeatedly, but where things eventually get made."
        gridItems={playground}
      />
      <SectionGrid heading="Preoccupations" gridItems={preoccupations} />

      <footer>
        <p>
          Reach me at <Hyperlink href={socials.twitter}>@adebiyial</Hyperlink>
           or <Hyperlink href={socials.mail}>
            adebiyiadedotun9@gmail.com
          </Hyperlink>
        </p>
      </footer>
    </article>
  </div>
</Root>

<style>
  [data-page="home"] {
    max-width: var(--page-width);
    margin: 0 auto;
    padding-block: var(--page-top);
  }

  [data-grid="main"] {
    grid-template-columns: 12rem var(--content-width) 12rem;

    > * {
      grid-column: 2;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    [data-prose] > header {
      margin-block-end: var(--gap-3x);
    }

    section {
      margin-block-end: var(--gap-6x);

      ul {
        list-style: none;
        padding: 0;
        margin-block-start: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: var(--gap-2x);
        row-gap: var(--gap-3);
      }

      li {
        gap: 8px;
        display: grid;
        align-content: start;
      }
    }
  }
</style>
