---
import Hyperlink from "../components/Hyperlink.astro";
import PageHeader from "../components/PageHeader.astro";
import PageNav from "../components/PageNav.astro";
import Root from "../layouts/Root.astro";
import { getIdFromUrl, groupBy } from "../misc/fns";
import publications from "../misc/publications.json";

const title = "Publications";
const groupedPublications = Object.entries(groupBy(publications, "publisher"));
const toc = groupedPublications.map(([key, value]) => ({
  title: key,
  href: getIdFromUrl(value[0].href),
}));
---

<Root title={title}>
  <div data-grid data-grid-col="3" data-layout-center>
    <PageNav toc={toc} />
    <PageHeader heading={title} subheading={`# ${publications.length}`} />
    <ul data-list>
      {
        groupedPublications.map(([key, value]) => (
          <li data-list-item>
            <h4 class="publication" id={getIdFromUrl(value[0].href)}>
              {key}
            </h4>
            <ul data-list>
              {value.map(({ title, href, publicationDate }) => {
                return (
                  <li>
                    <Hyperlink href={href} target="_blank" nounderline>
                      {title}
                      <time datetime={publicationDate} data-subtitle>
                        {publicationDate}
                      </time>
                    </Hyperlink>
                  </li>
                );
              })}
            </ul>
            <PageHeader heading="" subheading={`# ${value.length}`} />
          </li>
        ))
      }
    </ul>
  </div>
</Root>

<style>
  [data-layout-center] {
    column-gap: var(--gap-4x);

    > [data-list] {
      margin-block: var(--gap-s);
    }

    [data-list-item],
    .publication {
      margin-block-end: var(--gap-2x);
    }

    .publication {
      width: fit-content;
      scroll-margin-top: var(--page-top);
    }

    .publication + ul {
      margin-bottom: var(--gap-s);

      li a {
        display: flex;
        justify-content: space-between;
        padding: var(--gap) 0;
        border-block-end: 1px solid rgba(30, 55, 38, 0.5);
      }
    }
  }
</style>
