---
import { group, sort } from "d3-array";
import Hyperlink from "../components/Hyperlink.astro";
import PageHeader from "../components/PageHeader.astro";
import Root from "../layouts/Root.astro";
import { slugify } from "../misc/fns";
import publications from "../misc/publications.json";

const title = "Publications";

const sortedPublications = sort(
  publications,
  (d) => -new Date(d.publicationDate).getFullYear()
);
const groupedPublications = Array.from(
  group(sortedPublications, (d) => d.publisher)
);
---

<Root title={title}>
  <div data-grid data-grid-col="3" data-layout-center>
    <PageHeader heading={title} subheading={publications.length} symbol="#" />
    <ul data-list>
      {
        groupedPublications.map(([key, value]) => (
          <>
            <li data-list-item>
              <h3 class="title" id={slugify(key)}>
                {key}
              </h3>
              <ul data-list>
                {value.map(({ title, href, publicationDate }) => {
                  return (
                    <li>
                      <Hyperlink href={href} target="_blank" nounderline>
                        {title}
                        <time datetime={publicationDate} data-subtitle>
                          {publicationDate}
                        </time>
                      </Hyperlink>
                    </li>
                  );
                })}
              </ul>
              <PageHeader heading="" subheading={value.length} symbol="#" />
            </li>
          </>
        ))
      }
    </ul>
  </div>
</Root>

<style>
  [data-layout-center] {
    > [data-list] {
      margin-block: var(--gap-s);
    }

    [data-list-item] {
      margin-block-end: var(--gap-3x);

      header {
        padding-block: 0 var(--gap);
        margin: 0 0 0 auto;
        border-bottom: 1px solid var(--green-fade);
        width: fit-content;
        border-top: transparent;
        position: relative;
        top: -2px;
        background-color: var(--bg);

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: var(--gap);
          left: calc(-1 * var(--gap));
          background: inherit;
        }
      }

      .title {
        margin-block-end: var(--gap-2x);
        width: fit-content;
        scroll-margin-top: var(--page-top);
      }

      li a {
        display: flex;
        justify-content: space-between;
        padding: var(--gap) 0;
        border-block-end: 1px solid var(--green-fade);
        gap: var(--gap);
      }

      @media screen and (max-width: 626px) {
        time,
        header {
          display: none;
        }
      }
    }
  }
</style>
