---
import Image from "../components/Image.astro";
import CardSubtitle from "./CardSubtitle.astro";
import CardTitle from "./CardTitle.astro";

interface Props {
  title: string;
  subtitle: string;
  imageUrl: string;
  imageHeight?: number;
}

const { title, subtitle, imageUrl, imageHeight = 20 } = Astro.props;
---

<div data-card>
  <Image src={imageUrl} alt={title} height={imageHeight} />
  <CardTitle title={title} />
  <CardSubtitle subtitle={subtitle} />
</div>
