---
import Image from "../components/Image.astro";
import CardSubtitle from "./CardSubtitle.astro";
import CardTitle from "./CardTitle.astro";

interface Props {
  title: string;
  subtitle: string;
  imageUrl: string;
  date?: string;
  imageHeight?: number;
  source?: string;
}

const { title, subtitle, imageUrl, imageHeight, date, source } = Astro.props;
---

<div data-card>
  <Image src={imageUrl} alt={title} height={imageHeight} />
  {
    source && date && (
      <div class="meta">
        {date && (
          <time datetime={date} data-subtitle>
            {date}
          </time>
        )}
        {source && <span data-subtitle>{source}</span>}
      </div>
    )
  }
  <CardTitle title={title} />
  <CardSubtitle subtitle={subtitle} />
</div>

<style>
  [data-card]:hover {
    :where(picture, image) {
      filter: grayscale();
      transition: var(--transition-fast);
    }
  }

  .meta {
    display: flex;
    justify-content: space-between;
  }
</style>
