---
interface Props {
  heading: string;
  subheading?: string | number;
  symbol?: string;
  date?: string;
  spacey?: boolean;
}

const { heading, subheading, symbol, date, spacey = true } = Astro.props;
---

<header>
  <div>
    <h2>{heading}</h2>
    <strong>
      {symbol && <span data-comment>{symbol}</span>}
      {subheading}
    </strong>
    {
      date && (
        <time datetime={date} data-subtitle>
          {date}
        </time>
      )
    }
  </div>
  {spacey && <hr class="spacey" />}
</header>

<style>
  header {
    > *:first-child {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: start;
      line-height: 1;
      gap: var(--gap);
      margin-block-end: var(--gap-3x);

      h2 {
        font-size: 1.125rem;
      }

      *:nth-child(2) {
        margin-left: auto;
      }

      time {
        font-weight: 600;
      }

      @media screen and (max-width: 400px) {
        h2 {
          grid-column: 1/-1;
        }
        *:nth-child(2) {
          display: none;
        }
      }
    }
  }
</style>
