---
import Image from "../components/Image.astro";
import { writing } from "../misc/data";
import { slugify } from "../misc/fns";
import CardSubtitle from "./CardSubtitle.astro";
import CardTitle from "./CardTitle.astro";
import SectionHeader from "./SectionHeader.astro";
---

<section data-grid>
  <SectionHeader heading="Writing" />

  <ul>
    {
      writing.map(({ title, subtitle, url, isExternal }) => (
        <li>
          <Image
            classname="banner"
            src={`https://avatar.vercel.sh/${slugify(title)}?size=40`}
            alt={title}
            height={40}
          />
          <CardTitle
            title={title}
            href={url}
            target={isExternal ? "_blank" : "_self"}
          />
          <CardSubtitle subtitle={subtitle} />
        </li>
      ))
    }
  </ul>
</section>

<style>
  li {
    grid-template-columns: 40px 1fr;
    align-items: center;

    [data-subtitle] {
      grid-column: 1/-1;
    }
  }
</style>
